<div class="msg-box">
    <div class="picture"><img src="{{ avatar }}"></div>
    <div class="msg">
        <span class="nickname">{{ nickname }}</span>
        <span class="message-body">{{ message|safe }}</span>
    </div>
    {% if current_user.is_authenticated %}
    <div class="ui icon left center pointing dropdown ellipsis-icon">
        <i class="ellipsis horizontal icon"></i>
        <div class="menu" data-offset="-33">
            <div class="item quote-button"><i class="quote left icon"></i> Quote</div>
        </div>
    </div>
    {% endif %}
</div>
