{% extends 'base.html' %}
{% block title %}CatChat{% endblock %}

{% block content %}
    <div class="pusher">
        <div class="chat-box">
            <div class="messages">
                <div class="ui text loader">Loading messages...</div>
                {% include 'chat/_messages.html' %}
            </div>
        </div>
        <div class="input-area">
            <div class="ui grid form">
                <div class="ten wide column">
                    <div class="field fluid message-box">
                        {% if current_user.is_authenticated %}
                            <img class="pop-card input-avatar" data-position="bottom left"
                                 data-href="{{ url_for('chat.get_profile', user_id=current_user.id) }}"
                                 src="{{ current_user.gravatar }}">
                            <textarea rows="2" id="message-textarea"
                                      placeholder="Write your message here... Enter to send"></textarea>
                        {% else %}
                            <div class="ui floating message">Please <a href="{{ url_for('auth.login') }}">Sign in</a> or
                                <a href="{{ url_for('auth.register') }}">Sign up</a> to send message.
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="four wide column right floated right aligned hide-on-mobile">
                    <p>Written by <a href="http://greyli.com">Grey Li</a><br>
                        Fork me on <a href="https://github.com/greyli/catchat">GitHub</a><br>
                        2017 © <a href="https://helloflask.com">helloflask.com</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var socket = io('/');
    </script>
{% endblock %}