[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "*"
watchdog = "*"
faker = "*"

[packages]
Flask-SocketIO = "*"
Flask = "*"
python-dotenv = "*"
flask-login = "*"
Flask-WTF = "*"
Flask-Moment = "*"
Flask-OAuthlib = "*"
eventlet = "*"
bleach = "*"
Markdown = "*"
Pygments = "*"
Flask-SQLAlchemy = "*"
